.login-close-btn-container{
    display: flex;
    width: 300px;
    max-height: 80px;
    justify-content: center;
    align-items: center;
    background: #000000;
    padding: .5rem;
    overflow: hidden;
}

.login-close-btn-container > img{
    width: 100%;
    position: relative;
    left: 20px;
    transform: scale(0.5);
}

#close-icon{
    position: relative;
    top: 4px;
    right: 24px;
    color: #ffffff;
    font-size: 2rem;
}

.login-img-container{
    display: flex;
    width: 300px;
    height: 100px;
    justify-content: center;
    align-items: center;
    overflow-y: hidden;
}

.login-img-container > img {
    width: 100%;
    transform: scaleY(0.8);
    background: rgb(34,159,195);
    background: radial-gradient(circle, rgba(34,159,195,1) 0%, rgba(2,1,25,1) 100%);
}

.login-form-container{
    display: flex;
    flex-direction: column;
    background: #ffffff;
    align-items: center;
    width: 300px;
    height: 360px;
    padding-top: 40px;
}

.login-form-container > input{
    display: flex;
    width: 250px;
    padding: .2rem;
    margin-top: 20px;
    border-radius: .2rem;
    border: solid rgba(216, 221, 228, 0.582) 1px;
    overflow: hidden;
}

.login-form-container > a {
    font-family: 'Roboto';
    font-size: 1rem;
    font-weight: 400;
    text-decoration: none;
    margin-top: 20px;
}

#input-email:focus-visible{
    outline: none;
}

#input-password:focus-visible{
    outline: none;
}

#login-btn{
    display: flex;
    justify-content: center;
    border: none;
    align-items: center;
    padding: .4rem;
    width: 250px;
    height: 30px;
    margin-top: 20px;
    font-size: 1rem;
    font-weight: 700;
    font-family: 'Roboto';
    color: #ffffff;
    border-radius: .2rem;
    background: rgb(34,159,195);
    background: radial-gradient(circle, rgba(34,159,195,1) 0%, rgba(2,1,25,1) 100%);

    &.is-pressed{
        background: rgb(133,215,231);
        background: radial-gradient(circle, rgba(133,215,231,1) 0%, rgba(2,1,25,1) 100%); 
    }
}

#create-acount{
    display: flex;
    justify-content: center;
    border: none;
    align-items: center;
    padding: .4rem;
    width: 250px;
    height: 30px;
    margin-top: 20px;
    font-size: 1rem;
    font-family: 'Roboto';
    font-weight: 400;
    color: rgb(43, 43, 44);
    background: rgba(106, 122, 212, 0.438);
    border-radius: .2rem;
}