<div class="main-bar container-fluid white-standard">
    <div class="logo-container">
        <a href="#">
            <img src={{logoUrl}} alt="image" class="img-logo">
        </a>
    </div>
    <div class="contact-list-container">
        <div class="btn-menu-container">
            <i id="burguer-menu" class="material-icons white-standard" (click)="toggleMenu()">{{isOpenMenu ? "close" : "menu"}}</i>
        </div>
        <ul class="contact-list white-standard" [class.is-open]="isOpenMenu">
            <li class="contact"><a href="">Games</a></li>
            <li class="contact"><a href="">Hardware</a></li>
            <li class="contact"><a href="">Services</a></li>
            <li class="contact"><a href="">News</a></li>
        </ul>
    </div>
</div>
