<div class="home-container container-fluid">
    <app-search-bar class="container-fluid" id="home-search"></app-search-bar>
    <div class="banner-container container-fluid">
        <app-banner></app-banner>
    </div>
    <div class="row game-list-container">
        <div class="col-12 col-sm-4 col-md-3 item-container" *ngFor="let i of games">
            <app-game-card
            imageUrl={{i.imgUrl}}
            cardLabel={{i.label}}
            title={{i.title}}
            gameType={{i.type}}
            gamePrice={{i.price}}
            ></app-game-card>
        </div>
    </div>
</div>

