<div class="home-container">

    <app-game-card
    imageUrl="https://cdn.awsli.com.br/300x300/2154/2154653/produto/131161269/56048b0da8.jpg"
    cardLabel="Exclusive"
    title="Play it  Now!"
    gameType="DIGITAL PS5"
    gamePrice="R$ 299,29"
    ></app-game-card>
    <!--
    <div>
        <div class="row">
            <div class="col-6 col-sm-3 item-container">
                <app-game-card></app-game-card>
            </div>
            <div class="col-6 col-sm-3 item-container">
                <app-game-card></app-game-card>
            </div>
            <div class="col-6 col-sm-3 item-container">
                <app-game-card></app-game-card>
            </div>
            <div class="col-6 col-sm-3 item-container">
                <app-game-card></app-game-card>
            </div>
            <div class="col-6 col-sm-3 item-container">
                <app-game-card></app-game-card>
            </div>
            <div class="col-6 col-sm-3 item-container">
                <app-game-card></app-game-card>
            </div>
            <div class="col-6 col-sm-3 item-container">
                <app-game-card></app-game-card>
            </div>
            <div class="col-6 col-sm-3 item-container">
                <app-game-card></app-game-card>
            </div>
          </div>
    </div>
    -->
</div>

